@tailwind base;
@tailwind components;
@tailwind utilities;
@import "filepond/dist/filepond.min.css";
@import "react-nice-dates/build/style.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-button {
  @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-blue-900 transition bg-blue-100 border border-transparent rounded-md hover:bg-blue-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500;
}

.red-button {
  @apply inline-flex justify-center px-4 py-2 text-sm font-medium text-red-900 transition bg-red-100 border border-transparent rounded-md hover:bg-red-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500;
}

.card-shadow {
  box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.333),
    2px 4px 4px hsl(220deg 60% 50% / 0.333),
    3px 6px 6px hsl(220deg 60% 50% / 0.333);
  transition: all ease-in 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: theme("colors.indigo.200");
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.input {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #d3dde6;
  color: #0e3254;
  display: block;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: inherit;
  height: 42px;
  outline: none;
  padding: 0 12px;
  transition: border-color 0.2s;
}

.input.-focused,
.input:focus {
  border-color: #438cd2;
}

.input::placeholder {
  color: #d3dde6;
}

.date-range {
  display: flex;
  justify-content: space-between;
  font-family: "IBM Plex Sans", sans-serif;
}
.nice-dates {
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  z-index: 9999999;
}
.date-range .input {
  width: 100%;
}

.date-range_arrow {
  flex-shrink: 0;
  position: relative;
  width: 36px;
}

.date-range_arrow:before {
  border-right: 2px solid #d3dde6;
  border-top: 2px solid #d3dde6;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 18px;
  left: 50%;
  margin-left: -14px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 18px;
}
